<div class="container sm:w-full w-screen bg-pink h-full sm:py-6 sm:px-14 p-0">
    <div class="mb-10">
        <a class="btn btn-sm btn-circle bg-rose-500 absolute right-4 top-4 text-white flex items-center justify-center" mat-dialog-close>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
            </svg>
        </a>
    </div>
    <div mat-dialog-content class="flex flex-col w-full mt-10 md:px-0 px-6">
        <div class="flex flex-col self-center justify-center items-center w-full gap-5">
            <h1 class="font-medium text-5xl text-center text-rose-900"> Sign Up</h1>
            <p class="text-xl text-center text-rose-400">Sign Up to continue</p>

            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="flex flex-col w-full gap-6 mt-5">
                <div class="flex sm:flex-row flex-col w-full gap-5">
                    <div class="flex flex-col sm:w-[50%]">
                        <label for="">First Name</label>
                        <input type="text"
                        formControlName="firstName"
                        autocomplete="your Firstname"
                        class="bg-transparent border-2 rounded-xl p-3 hover:border-purple-600 focus:outline-none"
                        [ngClass]="{'border-red-500': signUpForm.get('firstName')?.invalid && signUpForm.get('firstName')?.touched, 'border-rose-500': signUpForm.get('firstName')?.valid}" 
                        placeholder="Enter your first name">
                        <p *ngIf="signUpForm.get('firstName')?.touched && signUpForm.get('firstName')?.invalid" class="text-red-500 text-sm">
                            First name is required.
                        </p>  
                    </div>
        
                    <div class="flex flex-col sm:w-[50%]">
                        <label for="">Last Name</label>
                        <input type="text" formControlName="lastName"
                        class="bg-transparent border-2 border-medium-gray rounded-xl p-3 hover:border-purple-600 focus:outline-none"
                        [ngClass]="{'border-red-500': signUpForm.get('lastName')?.invalid && signUpForm.get('lastName')?.touched, 'border-rose-500': signUpForm.get('lastName')?.valid}"  
                        placeholder="Enter your last name">
                        <p *ngIf="signUpForm.get('lastName')?.touched && signUpForm.get('lastName')?.invalid" class="text-red-500 text-sm">
                            Last name is required.
                        </p>  
                    </div>
                </div>

                <div class="flex flex-col">
                    <label for="">Phone Number</label>
                    <input type="tel" formControlName="phone"
                    class="bg-transparent border-2 border-medium-gray rounded-xl p-3 hover:border-purple-600 focus:outline-none"
                    [ngClass]="{'border-red-500': signUpForm.get('phone')?.invalid && signUpForm.get('phone')?.touched, 'border-rose-500': signUpForm.get('phone')?.valid}"  
                    placeholder="Enter your phone number">
                    <p *ngIf="signUpForm.get('phone')?.touched && signUpForm.get('phone')?.invalid" class="text-red-500 text-sm">
                        Valid phone number required.
                    </p>  
                </div>
        
                <div class="flex flex-col ">
                    <label for="">Email</label>
                    <input type="email" formControlName="email"
                    class="bg-transparent border-2 border-medium-gray rounded-xl p-3 hover:border-purple-600 focus:outline-none" 
                    [ngClass]="{'border-red-500': signUpForm.get('email')?.invalid && signUpForm.get('email')?.touched, 'border-rose-500': signUpForm.get('email')?.valid}" 

                    placeholder="Enter your email address">
                    
                    <div *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.invalid" class="text-sm text-red-500 mt-1">
                        <p *ngIf="signUpForm.get('email')?.errors?.['required']">Email is required.</p>
                        <p *ngIf="signUpForm.get('email')?.errors?.['email']">Invalid email format.</p>
                    </div>                
                </div>
                
                <div class="flex flex-col">
                    <label >Password</label>
                    <label for="password" class=" flex items-center justify-between bg-transparent border-2 border-medium-gray rounded-xl p-3 hover:border-purple-600 focus:outline-none"
                     [ngClass]="{'border-red-500': signUpForm.get('password')?.invalid && signUpForm.get('password')?.touched, 'border-rose-500': signUpForm.get('password')?.valid}">
                        <input [type]="showPassword ? 'text' : 'password'" 
                        formControlName="password" id="password" name="password"
                        autocomplete="new-password"
                        class="grow h-full w-full focus:outline-none"
                        placeholder="Enter your password">
                        
                        <label class="swap swap-rotate">
                            <!-- this hidden checkbox controls the state -->
                            <input (click)="toggleShowPassword()" type="checkbox" />

                            <!-- sun icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
                            class="size-6 swap-on">
                                <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                                <path fill-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z" clip-rule="evenodd" />
                            </svg>


                            <!-- moon icon -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" 
                            class="size-6 swap-off">
                                <path d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
                                <path d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
                                <path d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
                            </svg>
                        </label>
                    </label>


                    <div *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.invalid" class="text-sm text-red-500 mt-1">
                        <p *ngIf="signUpForm.get('password')?.errors?.['required']">Password is required.</p>
                        <p *ngIf="signUpForm.get('password')?.errors?.['minlength']">Minimum of 6 characters.</p>
                    </div>
                </div>

                <div class="flex flex-col">
                    <label for="">Confirm Password</label>
                    <input [type]="showPassword ? 'text' : 'password'" 
                    formControlName="confirmPassword"
                    autocomplete="new-password"
                    class="bg-transparent border-2 border-medium-gray rounded-xl p-3 hover:border-purple-600 focus:outline-none"
                    [ngClass]="{'border-red-500': signUpForm.get('confirmPassword')?.invalid && signUpForm.get('confirmPassword')?.touched, 'border-rose-500': signUpForm.get('confirmPassword')?.valid}"
                    placeholder="Confirm your password">
                    <div *ngIf="signUpForm.hasError('mismatch') && signUpForm.get('confirmPassword')?.touched" class="text-sm text-red-500 mt-1">
                        Passwords do not match.
                    </div>
                </div>
                <!-- <p>FORM STATUS: {{signUpForm.status}}</p>
                <p>FORM STATUS: {{signUpForm.get('password')?.value}}</p> -->

                <div *ngIf="errorMessage" class="text-red-500">{{ errorMessage }}</div>

                <button type="submit" class="btn btn-block btn-primary" [disabled]="signUpForm.invalid">Register</button>
            </form>

            <div class="flex items-center gap-4">
                <p class="font-medium"> Have an account? </p>
                <a (click)="signIn()" class="underline text-primary my-5 cursor-pointer">Sign In here</a>
            </div>

        </div>
        
    </div>
</div>
