<div class="flex sm:flex-row flex-col  w-full justify-between mt-8 gap-10 ">
    <div class="flex-1">
        <div [@.disabled]="!products.length" [@listAnimation] class="grid grid-cols-[repeat(auto-fit,minmax(240px,1fr))] gap-8">
             <app-product-list [@popIn]
             *ngFor="let product of products"
                [product]= "product"
             ></app-product-list>
        </div>
    </div>
    <div class="shrink-0">
        <app-cart></app-cart>

    </div>

    <!-- <div><button routerLink="/confirm"> confirm</button></div> -->
</div>
