<div class="flex w-full justify-between mt-8">
    <div>
        <!-- <header class="text-start text-4xl capitalize text-rose-900 font-semibold"> Desserts</header> -->
        <div [@.disabled]="!products.length" [@listAnimation] class="grid grid-cols-3 gap-8">
             <app-product-list [@popIn]
             *ngFor="let product of products"
                [product]= "product"
             ></app-product-list>
        </div>
    </div>

    <app-cart></app-cart>
    <div><button routerLink="/confirm"> confirm</button></div>
</div>
